<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{countPending}}</strong> item{{countPending | plural}} left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">

      <li *ngFor="let item of filters | keyvalue">
        <a 
        [class.selected]="item.value === actualFilter"
        routerLink="/{{item.value}}" routerLinkActive="selected" 
        >
        {{item.value}}
      </a>
      </li>

    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="clearCompleted()" *ngIf="countComplete >0">Clear completed</button>
  </footer>